doctype 5

html(lang="es")

	head
		title NeedlePOP!

		//- METAs
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')


		//- Fonts
		link(href='http://fonts.googleapis.com/css?family=Bangers', rel='stylesheet', type='text/css')

		//- Bootstrap CSS
		link(rel='stylesheet', href='css/bootstrap.min.css')
		//- Main CSS
		link(rel='stylesheet', href='css/main.css')


	body

		#container

			#characters

			header
				.logo
				h1 NeedlePOP!

			section#index

				div.buttons
					a(href="intro.html").btn.btn-blue.btn-next start
					a(href="#").btn.btn-red.btn-next exit


			footer

		//- jQuery JS
		script(src='js/vendor/jquery-2.0.3.min.js')
	
