doctype 5

html(lang="es")

	head
		title NeedlePOP!

		//- METAs
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')


		//- Bootstrap CSS
		link(rel='stylesheet', href='css/bootstrap.min.css')
		//- Main CSS
		link(rel='stylesheet', href='css/main.css')


	body

		#container

			.head-chat
				.icon.icon-tw
				.head.btn.btn-purple chat
			.grandson
			.grandma

			section#textbox
				p.user.his @FatOldSon
				p.twit I want to be fatter! #FatSwag #Yolokid

				p.user.her @BadGranny
				p.twit.right I think you have already taken enough desserts &#172;&#172;

				p.user.his @FatOldSon
				p.twit But that cake is so tempting thought #mmm #Yummy

				p.user.her @BadGranny
				p.twit.right asdfjkxw ASDFJKXW

			footer.intro
				a(href="index.html").btn.btn-red-back.btn-back back
				a(href="game.html").btn.btn-blue.btn-next next



		//- jQuery JS
		script(src='js/vendor/jquery-2.0.3.min.js')

